.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.clearfix {
  @include clearfix;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.is-hidden {
  @include hidden;
}

.list-inline {
  @include list-clean;

  > li {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }
}

.vertical-center {
  @include vertical-center;
}
