// Colors
// ---------------------------------------

// Base
$plum: #8E236B;
$blue: #2983A6;
$coral: #FF7259;
$bright-blue: #4879FF;

// Neutrals
$gray: #999;
$gray-lightest: #fafafa;

// Palette
$color-body: #333;
$color-primary: $blue;


// Fonts
// ---------------------------------------

$font-primary: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
$font-display: "Pacifico", $font-primary;
$font-mono: monospace, serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 20px;
$spacing-vertical: 20px;

$page-width: 540px;
