// Colors
// ---------------------------------------

// Base
$blue: #2983A6;
$cobalt: #4879FF;
$cobalt: #3366FF;
$coral: #FF7259;
$plum: #993366;
$teal: #1E8E77;

// Neutrals
$gray: #999;
$gray-light: #ddd;
$gray-lighter: #eee;
$gray-lightest: #fafafa;

// Palette
$color-body: #333;
$color-primary: $plum;


// Fonts
// ---------------------------------------

$font-primary: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
$font-display: "Pacifico", $font-primary;
$font-mono: monospace, serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 40px;
$spacing-vertical: 20px;

$page-width: 540px;
