// Colors
// ---------------------------------------

$blue: #225577;

$gray: #999;

$color-body: #000;
$color-primary: $blue;


// Fonts
// ---------------------------------------

$font-primary: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
$font-mono: monospace, serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 20px;
$spacing-vertical: 20px;

$page-width: 1200px;
