<h2>Grams</h2>

<ul class="grams">
  {{#each grams as |gram|}}
    {{gram-card gram=gram
    tagName="li"
    isAuthenticated=session.isAuthenticated
    currentUser=session.currentUser
    setLiked="setLiked"
    setUnliked="setUnliked"}}
  {{/each}}
</ul>
