.app-header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(#aaa, 0.2);
  margin: 0 0 40px;
  padding: 30px 0;

  .container {
    @include clearfix;
  }

  .logo {
    float: left;
    font-family: $font-display;
    font-weight: normal;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.app-nav {
  float: right;
  margin: 1em 0;

  ul {
    margin-top: 0;
  }
}

@include bp($page-width) {
  .app-header {
    padding: 20px 0;
    text-align: center;

    .logo {
      float: none;
    }
  }

  .app-nav {
    float: none;
  }
}
