<header id="app-header" class="app-header" role="banner">
  <div class="container">
    <h1>{{#link-to 'grams'}}Emstagram{{/link-to}}</h1>

    <nav class="app-nav" role="navigation">
      <ul>
        {{#if session.isAuthenticated}}
        <li>Hi {{session.currentUser.username}}</li>
        <li>
          {{#link-to 'grams.new' class="new-gram-button"}}Add New Gram{{/link-to}}
        </li>
        <li>
          <a href="#" {{action "invalidateSession"}}>Logout</a>
        </li>
        {{else}}
        <li>
          {{#link-to "login" class="login"}}Login{{/link-to}}
        </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>
<!-- /#app-header -->

<div id="main" class="main" role="main">
  {{outlet}}
</div>
<!-- /#main -->
